{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_js %}

{% endblock %}

{% block content %}
<!--Standard page blocks    
<div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">


            </div>
        </div>
    </div>-->
    <!---add page content-->
    <div class="container-fluid container-banner-home">
        <div class="row">
            <div class="col-6 stay-background">
                <img src="/media/home-stay1.png" class="staySlides" alt="">
                <img src="/media/home-stay2.png" class="staySlides" alt="">
                <div class="container banner-logo">
                    <div class="row">
                        <div class="col-12" id="banner-logo-right">
                            <img id="banner-logo-focus" src="media/STAYGOlogo-02.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 go-background">
                <img src="/media/home-go.png" class="goSlides" alt="">
                <img src="/media/home-go2.png" class="goSlides" alt="">
                <div class="container banner-logo">
                    <div class="row">
                        <div class="col-12" id="banner-logo-left">
                            <img id="banner-logo-fade" src="media/STAYGOlogo-03.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container sg-container">
        <div class="row">
            <div class="col-12">
                <h1>Why hire a van through StayGo?</h1>
            </div>
            <div class="col-3 sg-icon-blocks">
                <i class="fas fa-bed sg-icons"></i>
                <p class="sg-icon-text">Lorem ipsum dolor sit amet, consectetur </p>
            </div>
            <div class="col-3 sg-icon-blocks">
                <i class="fas fa-bed sg-icons"></i>
                <p class="sg-icon-text">Lorem ipsum dolor sit amet, consectetur </p>
            </div>
            <div class="col-3 sg-icon-blocks">
                <i class="fas fa-bed sg-icons"></i>
                <p class="sg-icon-text">Lorem ipsum dolor sit amet, consectetur </p>
            </div>
            <div class="col-3 sg-icon-blocks">
                <i class="fas fa-bed sg-icons"></i>
                <p class="sg-icon-text">Lorem ipsum dolor sit amet, consectetur </p>
            </div>
        </div>
    </div>
    <div class="container sg-container">
        <div class="row">
            <div class="col-12">
                <h2>What customers say</h2>
            </div>
            <!---Testimonial 1-->
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-3">
                        <img class="testimonial-img" src="media/testimonial1.png">
                    </div>
                    <div class="col-9 center">
                        We had an excellent trip away travelling in iris! She’s a lovely van, very well kept, with all
                        you need for your trip! Oakley was fantastic, lovely guy and always available to help and answer
                        questions at any point! Will certainly be using again!!
                        <div class="row">
                            <div class="col-12 sg-stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                            <div class="col-12 center">
                                Read more
                            </div>
                            <div class="col-12 sg-down">
                                <i class="fas fa-angle-double-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---Testimonial 1-->
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-3">
                        <img class="testimonial-img" src="media/testimonial1.png">
                    </div>
                    <div class="col-9 center">
                        We had an excellent trip away travelling in iris! She’s a lovely van, very well kept, with all
                        you need for your trip! Oakley was fantastic, lovely guy and always available to help and answer
                        questions at any point! Will certainly be using again!!
                        <div class="row">
                            <div class="col-12 sg-stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                            <div class="col-12 center">
                                Read more
                            </div>
                            <div class="col-12 sg-down">
                                <i class="fas fa-angle-double-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static '/js/base.js' %}"></script>
{% endblock %}

