{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_js %}

{% endblock %}

{% block content %}
<!--Standard page blocks    
<div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">


            </div>
        </div>
    </div>-->
<!---add page content-->
<div class="container-fluid container-banner-home">
    <div class="row">
        <div class="col-6 stay-background">
            <div id="slideset-stay">
                <div>
                    <img src="{{ MEDIA_URL }}home-stay4.png" class="stay-slides" alt="">
                </div>
                <div>
                    <img src="{{ MEDIA_URL }}home-stay3.png" class="stay-slides" alt="">
                </div>
                <div>
                    <img src="{{ MEDIA_URL }}home-stay6.png" class="stay-slides" alt="">
                </div>
            </div>
            <div class="banner-logo">
                <div class="col-12" id="banner-logo-right">
                    <img id="banner-logo-focus" src="{{ MEDIA_URL }}STAYGOlogo-02.png">
                </div>
            </div>
        </div>

        <div class="col-6 go-background">
            <div id="slideset-go">
                <div>
                    <img src="{{ MEDIA_URL }}home-go4.png" class="go-slides" alt="">
                </div>
                <div>
                    <img src="{{ MEDIA_URL }}home-go2.png" class="go-slides" alt="">
                </div>
                <div>
                    <img src="{{ MEDIA_URL }}home-go3.png" class="go-slides" alt="">
                </div>
            </div>
            <div class="banner-logo">
                <div class="col-12" id="banner-logo-left">
                    <img id="banner-logo-fade" src="{{ MEDIA_URL }}STAYGOlogo-03.png">
                </div>
            </div>
        </div>

        <!--old style
    <div class="col-6 go-background">
        <img src="/media/home-go.png" class="goSlides" alt="">
        <img src="/media/home-go2.png" class="goSlides" alt="">
        <div class="container banner-logo">
            <div class="row">
                <div class="col-12" id="banner-logo-left">
                    <img id="banner-logo-fade" src="media/STAYGOlogo-03.png">
                </div>
            </div>
        </div>
    </div>-->
    </div>
</div>
<!--Mobile banner
<div class="container-fluid mobile-only">
<p>mobile test</p>
</div>-->

<!--Start of body content-->
<div class="container sg-container">
    <div class="row">
        <div class="col-12">
            <h1>Why hire a van through StayGo?</h1>
        </div>
        <div class="col-3 sg-icon-blocks">
            <i class="fas fa-bed sg-icons"></i>
            <p class="sg-icon-text">Lorem ipsum dolor sit amet, consectetur </p>
        </div>
        <div class="col-3 sg-icon-blocks">
            <i class="fas fa-bed sg-icons"></i>
            <p class="sg-icon-text">Lorem ipsum dolor sit amet, consectetur </p>
        </div>
        <div class="col-3 sg-icon-blocks">
            <i class="fas fa-bed sg-icons"></i>
            <p class="sg-icon-text">Lorem ipsum dolor sit amet, consectetur </p>
        </div>
        <div class="col-3 sg-icon-blocks">
            <i class="fas fa-bed sg-icons"></i>
            <p class="sg-icon-text">Lorem ipsum dolor sit amet, consectetur </p>
        </div>
    </div>
</div>
<div class="container sg-container">
    <div class="row">
        <div class="col-12 mt-5">
            <h2>What customers say</h2>
        </div>
        <!---Testimonial 1-->
        <div class="col-12 mt-4 mb-5">
            <div class="row">
                <div class="col-12 col-md-3 mb-3">
                    <img class="testimonial-img" src="{{ MEDIA_URL }}testimonial1.png">
                </div>
                <div class="col-12 col-md-9">
                    We had an excellent trip away travelling in iris! She’s a lovely van, very well kept, with all
                    you need for your trip! Oakley was fantastic, lovely guy and always available to help and answer
                    questions at any point! Will certainly be using again!!
                    <div class="row">
                        <div class="col-12 col-md-4 sg-stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <!---Testimonial 2-->
        <div class="col-12 mt-4 mb-5">
            <div class="row">
                <div class="col-12 col-md-3 mb-3">
                    <img class="testimonial-img" src="{{ MEDIA_URL }}testimonial1.png">
                </div>
                <div class="col-12 col-md-9">
                    We had an excellent trip away travelling in iris! She’s a lovely van, very well kept, with all
                    you need for your trip! Oakley was fantastic, lovely guy and always available to help and answer
                    questions at any point! Will certainly be using again!!
                    <div class="row">
                        <div class="col-12 col-md-4 sg-stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}