{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


{% endblock %}

{% block content %}
<!--Standard page blocks    
<div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">


            </div>
        </div>
    </div>-->
<!---add page content-->
<div class="container-fluid container-banner-home">
    <div class="row">
        <!--Stay Background-->
        <div class="col-6 stay-background">
            <div id="slideset-stay">
                <div>
                    <img src="{{ MEDIA_URL }}home-stay4.png" class="stay-slides" alt="">
                </div>
                <div>
                    <img src="{{ MEDIA_URL }}home-stay3.png" class="stay-slides" alt="">
                </div>
                <div>
                    <img src="{{ MEDIA_URL }}home-stay6.png" class="stay-slides" alt="">
                </div>
            </div>
        </div>
        <!--Go Background-->
        <div class="col-6 go-background">
            <div id="slideset-go">
                <div>
                    <img src="{{ MEDIA_URL }}home-go4.png" class="go-slides" alt="">
                </div>
                <div>
                    <img src="{{ MEDIA_URL }}home-go2.png" class="go-slides" alt="">
                </div>
                <div>
                    <img src="{{ MEDIA_URL }}home-go3.png" class="go-slides" alt="">
                </div>
            </div>
        </div>

        <!--Logo block-->
        <!--Remove to add animated logo back in
        <div class="row logo-row">
            <div class="col-12">
              
                <div class="banner-logo row">
                    <div class="col-6" id="banner-logo-left">
                        <img id="banner-logo-focus" src="{{ MEDIA_URL }}STAYGOlogo-02.png">
                    </div>
              
                    <div class="col-6" id="banner-logo-right">
                        <img id="banner-logo-fade" src="{{ MEDIA_URL }}STAYGOlogo-03.png">
                    </div>
                </div>-->
            </div>
        </div>


        <!--old style
    <div class="col-6 go-background">
        <img src="/media/home-go.png" class="goSlides" alt="">
        <img src="/media/home-go2.png" class="goSlides" alt="">
        <div class="container banner-logo">
            <div class="row">
                <div class="col-12" id="banner-logo-left">
                    <img id="banner-logo-fade" src="media/STAYGOlogo-03.png">
                </div>
            </div>
        </div>
    </div>-->
    </div>
</div>
<!--Mobile banner-->
<div class="container-fluid d-md-none">
    <div class="row banner-mobile">
        <div class="col-12 stay-background-mobile">
            <div class="logo-stay-mobile">
                <img id="banner-logo-stay-mobile" src="{{ MEDIA_URL }}STAYGOlogo-02.png">
            </div>
        </div>
        <div class="col-12 go-background-mobile">
            <div class="logo-go-mobile">
                <img id="banner-logo-go-mobile" src="{{ MEDIA_URL }}STAYGOlogo-03.png">
            </div>
            <div class="row date-search-mobile">
                <div class="col-12">
                    <input type="text" class="form-control vans-dates-form-input" id="formGroupExampleInput"
                        placeholder="Example input" name="daterange" value="02/01/2022 - 02/15/2022" />
                </div>

                <div class="mt-4 mb-4 center">
                    <button class="pink-button" type="button">SEARCH</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Start of body content-->
<div class="container sg-container">
    <div class="row">
        <div class="col-12">
            <h1>Why hire a van through StayGo?</h1>
        </div>
        <div class="col-12 col-md-6 col-lg-3 sg-icon-blocks">
            <i class="fas fa-bed sg-icons"></i>
            <p class="sg-icon-text">your total is {{ total_due }} </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 sg-icon-blocks">
            <i class="fas fa-bed sg-icons"></i>
            <p class="sg-icon-text">Lorem ipsum dolor sit amet, consectetur </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 sg-icon-blocks">
            <i class="fas fa-bed sg-icons"></i>
            <p class="sg-icon-text">Lorem ipsum dolor sit amet, consectetur </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 sg-icon-blocks">
            <i class="fas fa-bed sg-icons"></i>
            <p class="sg-icon-text">Lorem ipsum dolor sit amet, consectetur </p>
        </div>
    </div>
</div>
<div class="container sg-container">
    <div class="row">
        <div class="col-12 mt-5">
            <h2>What customers say</h2>
        </div>
        <!---Testimonial 1-->
        <div class="col-12 mt-4 mb-5">
            <div class="row">
                <div class="col-12 col-md-3 mb-3">
                    <img class="testimonial-img" src="{{ MEDIA_URL }}testimonial1.png">
                </div>
                <div class="col-12 col-md-9">
                    We had an excellent trip away travelling in Starsky! It’s a lovely van, very well kept, with all
                    you need for your trip! Oakley was fantastic, lovely guy and always available to help and answer
                    questions at any point! Will certainly be using again!!
                    <div class="row">
                        <div class="col-12 col-md-4 sg-stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <!---Testimonial 2-->
        <div class="col-12 mt-4 mb-5">
            <div class="row">
                <div class="col-12 col-md-3 mb-3">
                    <img class="testimonial-img" src="{{ MEDIA_URL }}testimonial1.png">
                </div>
                <div class="col-12 col-md-9">
                    We had an excellent trip away travelling in iris! She’s a lovely van, very well kept, with all
                    you need for your trip! Oakley was fantastic, lovely guy and always available to help and answer
                    questions at any point! Will certainly be using again!!
                    <div class="row">
                        <div class="col-12 col-md-4 sg-stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}