{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid booking-background">
    <div class="row">
        <div class="col-12 booking-block">
        </div>
        <div class="col-6"></div>
        <div class="col-6">
            <div class="row">
                <div class="col-12 py-4 px-4">

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}