{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid booking-background">

</div>
<div class="container-fluid faqs-text-block">
    <div class="row">
        <div class="col-12 booking-block">
        </div>
        <div class="col-6"></div>
        <div class="col-6">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 faqs-block" >
<h4 class="white">What's included in the price?</h4>
<p>Aside from the Motorhome itself, your price includes bedding, towels, gas, toilet and waste water chemicals, insurance, breakdown recovery, cooking equipment, crockery and cutlery, awning, outside chairs, bike rack, WiFi, DAB radio, Sat Nav, reversing and rear view cameras, TV/DVD, cooker, grill, fridge, hob, heating and a kitchen sink!  You can leave your own car with us for no charge.</p><br>
<h4 class="white">How far can we go?</h4>
<p>Depending on the length of your rental, you can stay in the UK or travel to mainland Europe.  Driving a Motorhome can be slower than driving a normal car but with an automatic 9 speed gearbox and cruise control, you won't find a more driveable Motorhome.</p> <br>
<h4 class="white">What's not included?</h4>
<p>Aside from the Motorhome itself, your price includes bedding, towels, gas, toilet and waste water chemicals, insurance, breakdown recovery, cooking equipment, crockery and cutlery, awning, outside chairs, bike rack, WiFi, DAB radio, Sat Nav, reversing and rear view cameras, TV/DVD, cooker, grill, fridge, hob, heating and a kitchen sink!  You can leave your own car with us for no charge.</p><br>
<h4 class="white">What's not included?</h4>
<p>Aside from the Motorhome itself, your price includes bedding, towels, gas, toilet and waste water chemicals, insurance, breakdown recovery, cooking equipment, crockery and cutlery, awning, outside chairs, bike rack, WiFi, DAB radio, Sat Nav, reversing and rear view cameras, TV/DVD, cooker, grill, fridge, hob, heating and a kitchen sink!  You can leave your own car with us for no charge.</p><br>
<h4 class="white">What's not included?</h4>
<p>Aside from the Motorhome itself, your price includes bedding, towels, gas, toilet and waste water chemicals, insurance, breakdown recovery, cooking equipment, crockery and cutlery, awning, outside chairs, bike rack, WiFi, DAB radio, Sat Nav, reversing and rear view cameras, TV/DVD, cooker, grill, fridge, hob, heating and a kitchen sink!  You can leave your own car with us for no charge.</p>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</div>


{% endblock %}