{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid booking-background">
</div>
<div class="container-fluid faqs-text-block">
    <div class="row">
        <div class="col-12 booking-block">
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <h1 class="white page-title">FAQs</h1>
                </div>
                <div class="col-1"></div>
            </div>

        </div>
        <div class="col-6">
            <div class="row faqs-row">
                <div class="col-1"></div>
                <div class="col-10 faqs-block" >
                    <ol>
                    <li><h4 class="white">What's included in the price?</h4>
                    <p class="faqs-paragraph">Aside from the Motorhome itself, your price includes bedding, towels, gas, toilet and waste water chemicals, insurance, breakdown recovery, cooking equipment, crockery and cutlery, awning, outside chairs, bike rack, WiFi, DAB radio, Sat Nav, reversing and rear view cameras, TV/DVD, cooker, grill, fridge, hob, heating and a kitchen sink!  You can leave your own car with us for no charge.</li></li></p><br>
                    <li><h4 class="white">How far can we go?</h4>
                    <p class="faqs-paragraph">Depending on the length of your rental, you can stay in the UK or travel to mainland Europe.  Driving a Motorhome can be slower than driving a normal car but with an automatic 9 speed gearbox and cruise control, you won't find a more driveable Motorhome.</li></p><br>
                    <li><h4 class="white">What's not included?</h4>
                    <p class="faqs-paragraph">Aside from the Motorhome itself, your price includes bedding, towels, gas, toilet and waste water chemicals, insurance, breakdown recovery, cooking equipment, crockery and cutlery, awning, outside chairs, bike rack, WiFi, DAB radio, Sat Nav, reversing and rear view cameras, TV/DVD, cooker, grill, fridge, hob, heating and a kitchen sink!  You can leave your own car with us for no charge.</li></p><br>
                    <li><h4 class="white">Are there any optional extras?</h4>
                    <p class="faqs-paragraph">We can supply an electric tandem and normal ladies bike (see booking form for costs). </li></p><br>
                    <li><h4 class="white">What about Booking campsites?</h4>
                    <p>We have directories of European and UK campsites and also information on wild camping in countries where this is an option (and free). Some sites will ask for vehicle dimensions - your Motorhome is ...</li></p>
                    <br>
                    <li><h4 class="white">What instruction do I get?</h4>
                    <p class="faqs-paragraph">We will spend all the time you need getting you comfortable with driving and living in your Motorhome.  You will be shown how to convert beds, manage power and gas supplies, fill and empty water and toilets, operate the TV, etc.  We also provide reminder videos on our website in case you forget or want to have a look before you travel.</li></li></p>
                    </ol>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</div>


{% endblock %}