
* {
    padding: 0;
    margin: 0;
    border: 0;
  }

  /* Pushes content down the pg, removed as it was interferring with the nav button
  .header-container {
    padding-top: 164px;
}*/

  /*-------------------------------------------------------------Fonts*/

  body {
      font-family: 'Montserrat', sans-serif;
      color: #525252;
      font-size: 0.9rem;
  }


  /*-------------------------------------------------------------Nav - Menu*/

.staygo-logo-img {
    max-width: 26rem;
  }

  /*
 .navbar-toggler{
    z-index: 3012;
    position: relative;
 }

.fixed-top {
    position: fixed;
    z-index: 1;
}*/

#sg-nav-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h45M4 15h45M4 23h45'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
  color: rgba(0, 0, 0, 0);
  border-color: rgba(255,255,255,.1);
}

.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-toggler {
  font-size: 2.0rem;
}

.navbar-toggler:focus {
  border: none;
}

.offcanvas {
  max-width: 18rem;
  background-color: #404141;
  transition: transform .3s ease-in-out;
}

.offcanvas-header .btn-close {
  margin-right: 1.2rem;
  margin-bottom: -4.5rem;
}

.nav-link {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.offcanvas-body {
  padding: 3.5rem 3em;
}

  /*---------------------------------------------------------------Colours*/

  .pink {
    color: #C9007F;
  }

  .purple {
    color: #5B1E74;
  }

  /*-------------------------------------------------------------Headings*/
  
  h1, 
  h2, 
  h3, 
  h4 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #5B1E74;
    font-weight: 400;
  }

  h1,
  h2 {
    margin-bottom: 2rem;
  }

  /*---------------------------------------------------------------Buttons*/

  .pink-button {
    background-color: #C9007F;
    color: #fff;
    padding: 10px 20px 10px 20px;
    font-family: 'Roboto Condensed';
    font-size: 16px;
    border-radius: 6px;
    margin-left: 10px;
  }

  /*-------------------------------------------------------------Banners*/

.container-banner-home {
  padding-right: 0;
}

.stay-background {
    /*background: url('/media/home-stay.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);*/
    padding: 0;
    margin: 0;
    margin-bottom: -100px;
}

.go-background {
    /*.background: url('/media/home-go.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);*/
    padding: 0;
    margin: 0;
    margin-bottom: -100px;
}

.goSlides {
  position: relative;
  z-index: -1;
  max-width: 110%;
}

.banner-logo {
 /*margin-top: 28rem;*/
  padding-left: 0;
  padding-right: 0;
}

#banner-logo-focus {
    max-width: 26rem;
    top: calc(100vh - 1715px);
    position: relative;
    right: 20px;
}

#banner-logo-focus {
  /*The animation code starts below*/
  animation: stay-zoom 5s infinite;
}

@keyframes stay-zoom {

50% {
  transform: scale(1.2,1.2);
}
0% {
  transform: scale(1,1);
  }
50% {
    transform: scale(1.2,1.2);
 }
}

#banner-logo-fade {
  max-width: 16rem;
  top: calc(100vh - 1715px);
  position: relative;
  left: 10px;
}

#banner-logo-fade {
  animation: go-zoom 5s infinite;
  animation-delay: 2.5s;
}

@keyframes go-zoom {
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(1.2,1.2);
  }
  100% {
    transform: scale(1,1);
  }
}

#banner-logo-left {
  text-align: left;
}

#banner-logo-right {
  text-align: right;
}

.staySlides {
    /* This timing applies on the way IN */
  transition-timing-function: ease-in-out;

  /* A litttttle slower on the way in */
  transition: 0.5s;
  
  /* Move into place */
  transform: translateY(0);
}

.staySlides, .goSlides {
  max-width:110%;
}


/*------------------------------------------------------Blocks and containers*/

.sg-container {
  margin-top: 2.5rem;
}

/*-------------------------------------------------------------------Icons*/

.sg-icon-blocks {
  text-align: center;
}

.sg-icons {
  font-size: 3rem;
  color: #C9007F;
  margin-bottom: 1rem;
}

.sg-icon-text {
  font-size: 1rem;
}

/*-----------------------------------------------------------------Testimonials*/

.testimonial-img {
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
}

.sg-stars, .sg-down {
  text-align: center;
}

.sg-stars>i {
  font-size: 1rem;
  color: #C9007F;
  margin-bottom: 1rem;
  padding-right: 5px;
}

.sg-down>i {
  font-size: 2rem;
  color: #C9007F;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.sg-stars {
  margin-top: 1rem;
}

.center {
  text-align: center;
}

/*---------------------------------------------------------------Footer*/

footer {
  background-color: #333333;
  padding: 40px 45px;
  color: white;
  position: relative;
  width: 100%;
  bottom: 0;
}

.white {
  color: white;
}

.footer-icon {
  color: white;
  font-size: 1.5rem;
  margin-right: 15px;
}

.footer-icon:hover {
  color: #b90039;
}

/*---------------------------------------------------------------Booking page*/

.booking-background {
  background: url('/media/book-a-campervan.png') no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 164px);
  padding: 0;
  margin: 0;
  width: 100%;
}

.booking-block {
  height: 20vh;
}

.booking-form {
  background-color: #000000b3;
  padding: 3.5rem;
  border-radius: 6px;
}

.booking-form>h3 {
  color: white;
}

.booking-form>h4 {
  color: white;
}

.booking-form-inner {
  margin-left: 0.7rem;
}

.booking-form-label {
  background: #868686;
  border-radius: 8px 0 0 8px;
  font-size: 11px;
  color: white;
  padding-top: 12px;
}

.booking-form-input-col {
  padding-left: 0;
}

.booking-form-input {
  border-radius: 0 8px 8px 0;
  border: #C9007F solid 2px;
}

.form-help {
  color: white;
}

.form-help>a {
  color: #C9007F;
}
/*CHANGE STYLING-----------------------------
/* Make circles that indicate the steps of the form: */
.step {
  height: 40px;
  width: 40px;
  margin: 0 2px;
  border: #C9007F solid 3px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  color: white;
  padding-top: 8px;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #C9007F;
}

.tab {
  display: none;
}

/*UP TO HERE---------------------------------*/

.form-line {
  color: #C9007F;
  font-weight: bold
}

.steps-block {
  text-align:center;
  margin-top:40px;
}