{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


{% endblock %}

{% block content %}
<div class="container-fluid vans-background">
    <div class="row">
        <div class="col-12 col-md-9 vans-block-main cover-background">
        </div>
        <div class="col-12 col-md-3 vans-block-sidebar">
            <div class="row dark-overlay2">
                <div class="col-12 van-description-block">
                    <h1>VAN: {{ van.van_name }}</h1>
                    <span>is this...{{van.van_description}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Start of body content-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-9 pleft-6">
            <div class="row mt-5">
                <div class="col-12">
                    <h1>{{ van.van_name }}</h1>
                </div>
                <div class="col-6 col-md-3 sg-icon-blocks">
                    <i class="fas fa-caravan sg-icons"></i>
                    <p class="sg-icon-text">{{van.size_description}} </p>
                </div>
                <div class="col-6 col-md-3 sg-icon-blocks">
                    <i class="fas fa-gas-pump sg-icons"></i>
                    <p class="sg-icon-text">{{van.fuel_type}} </p>
                </div>
                <div class="col-6 col-md-3 sg-icon-blocks">
                    <i class="fas fa-bed sg-icons"></i>
                    <p class="sg-icon-text">Sleeps: <b>{{van.sleeps}}</b></p>
                </div>
                <div class="col-6 col-md-3 sg-icon-blocks">
                    <i class="fas fa-user sg-icons"></i>
                    <p class="sg-icon-text">Seats: <b>{{van.seats}}</b></p>
                </div>
            </div>
            <!--Van features-->
            <div class="row mt-4">
                <div class="col-12">
                    <h2>Van features</h2>
                </div>
                <div class="col-12 col-md-6">
                    {% if van.airconditioning_home_area %}
                    <p><i class="far fa-check-circle pink"></i> Air Conditioning Home Area</p>
                    {% endif %}
                    {% if van.refrigerator %}
                    <p><i class="far fa-check-circle pink"></i> Refrigerator</p>
                    {% endif %}
                    {% if van.camping_table_chairs %}
                    <p><i class="far fa-check-circle pink"></i> Camping table and chairs</p>
                    {% endif %}
                    {% if van.gas_cylinder %}
                    <p><i class="far fa-check-circle pink"></i> Gas Cylinder</p>
                    {% endif %}
                    {% if van.kitchen_equipment %}
                    <p><i class="far fa-check-circle pink"></i> Kitchen equipment</p>
                    {% endif %}
                    {% if van.airconditioning_cabin %}
                    <p><i class="far fa-check-circle pink"></i> Aiconditioning in cabin</p>
                    {% endif %}
                </div>
                <div class="col-12 col-md-6">
                    {% if van.awning %}
                    <p><i class="far fa-check-circle pink"></i> Awning</p>
                    {% endif %}
                    {% if van.solar_panel %}
                    <p><i class="far fa-check-circle pink"></i> Solar Panel</p>
                    {% endif %}
                    {% if van.toilet %}
                    <p><i class="far fa-check-circle pink"></i> Toilet</p>
                    {% endif %}
                    {% if van.heating %}
                    <p><i class="far fa-check-circle pink"></i> Heating</p>
                    {% endif %}
                    {% if van.hot_water %}
                    <p><i class="far fa-check-circle pink"></i> Hot water</p>
                    {% endif %}
                    {% if van.tv %}
                    <p><i class="far fa-check-circle pink"></i> TV</p>
                    {% endif %}
                    {% if van.tv_receiver %}
                    <p><i class="far fa-check-circle pink"></i> TV Receiver</p>
                    {% endif %}
                    {% if van.reversing_camera %}
                    <p><i class="far fa-check-circle pink"></i> Reversing camera</p>
                    {% endif %}
                    {% if van.roof_rack %}
                    <p><i class="far fa-check-circle pink"></i> Roof rack</p>
                    {% endif %}
                    {% if van.towbar %}
                    <p><i class="far fa-check-circle pink"></i> Towbar</p>
                    {% endif %}
                    {% if van.cruise_control %}
                    <p><i class="far fa-check-circle pink"></i> Cruise control</p>
                    {% endif %}
                    {% if van.gps %}
                    <p><i class="far fa-check-circle pink"></i> GPS</p>
                    {% endif %}
                    {% if van.power_steering %}
                    <p><i class="far fa-check-circle pink"></i> Power steering</p>
                    {% endif %}
                </div>

                <div class="col-12 mt-4">
                    <p>Additional items can be hired as well, see below.</p>
                </div>
            </div>
            <!--Extra equipment-->
            <div class="row mt-4">
                <div class="col-12">
                    <h2>Extras</h2>
                </div>
                <div class="col-12 col-md-6">
                    {% if van.extras_bike_rack %}
                    <p><i class="fas fa-plus pink"></i> Bike rack</p>
                    {% endif %}
                    {% if van.extras_awning %}
                    <p><i class="fas fa-plus pink"></i> Awning</p>
                    {% endif %}
                    {% if van.extras_towbar %}
                    <p><i class="fas fa-plus pink"></i> Towbar</p>
                    {% endif %}
                    {% if van.extras_travel_box %}
                    <p><i class="fas fa-plus pink"></i> Travel box</p>
                    {% endif %}
                </div>
                <div class="col-12 col-md-6">
                    {% if van.extras_chemical_toilet %}
                    <p><i class="fas fa-plus pink"></i> Chemical toilet</p>
                    {% endif %}
                    {% if van.extras_bbq %}
                    <p><i class="fas fa-plus pink"></i> BBQ</p>
                    {% endif %}
                    {% if van.extras_cutlery_crockery %}
                    <p><i class="fas fa-plus pink"></i> Cutlery and crockery package </p>
                    {% endif %}
                </div>
                <div class="col-12 col-lg-8 mt-4">
                    <p>We can cater for most needs and requirements from breakfast food packages to wine and chocolate
                        indulgent package for that special surprise.</p>
                </div>
            </div>
            <!--Image gallery-->
            <div class="row mt-4">
                <div class="col-12">
                    <h2>Image gallery</h2>
                </div>
                <div class="col-12 pright-6">
                    <div class="slideshow-container mt-2">
                        <div class="vanSlides">
                            <div class="numbertext">1 / 3</div>
                            <img src="/media/campervan-hire-starsky-1.png" style="width:100%">
                        </div>

                        <div class="vanSlides">
                            <div class="numbertext">2 / 3</div>
                            <img src="/media/campervan-hire-starsky.jpg" style="width:100%">
                        </div>

                        <div class="vanSlides">
                            <div class="numbertext">3 / 3</div>
                            <img src="/media/campervan-hire-starsky-1.png" style="width:100%">
                        </div>

                        <a class="prev" onclick="plusSlides(-1)"><i class="fas fa-chevron-left"></i></a>
                        <a class="next" onclick="plusSlides(1)"><i class="fas fa-chevron-right"></i></a>

                    </div>
                    <div class="slide-progress mt-3">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>
                </div>
            </div>
            <!---Testimonial 1-->
            <div class="col-12 mt-4 mb-5">
                <div class="row">
                    <div class="col-12">
                        <h2>What others say</h2>
                    </div>
                    <div class="col-12 col-md-3 mb-3">
                        <img class="testimonial-img" src="/media/testimonial1.png">
                    </div>
                    <div class="col-12 col-md-9">
                        We had an excellent trip away travelling in iris! She’s a lovely van, very well kept, with all
                        you need for your trip! Oakley was fantastic, lovely guy and always available to help and answer
                        questions at any point! Will certainly be using again!!
                        <div class="row">
                            <div class="col-12 col-md-4 sg-stars"><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i></div>
                            <div class="col-12 col-md-4 mt-3">
                                October 2020
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sidebar 2-->
        <div class="col-12 col-lg-3 vans-sidebar2">
            <div class="row dark-overlay">
                <div class="col-12 pright-6 pt-5">
                    <h5>Pick your dates</h5>
                    <div class="form-group row mb-3 mt-4">
                        <div class="col-12 booking-form-input-col">
                            <input type="text" class="form-control vans-dates-form-input" id="formGroupExampleInput"
                                placeholder="Example input" name="daterange" value="02/01/2022 - 02/15/2022" />
                        </div>
                    </div>
                    <div class="mt-4 mb-4 center">
                        <button class="pink-button" type="button">RESERVE</button>
                    </div>
                    <div class="col-12 mt-3">
                        <p><i class="fas fa-check pink"></i>
                            24/7 roadside assistance</p>
                        <p><i class="fas fa-check pink"></i>
                            Flexible cancellation</p>
                        <p><i class="fas fa-check pink"></i>
                            Only pay 5% upfront</p>
                    </div>
                    <div class="col-12 mt-4">
                        <h5 class="mb-3">Terms</h5>
                        <p>Two nights minimum</p>
                        <p>Pick up time: <b>10:00</b></p>
                        <p>Return time: <b>16:00</b></p>
                    </div>
                    <div class="col-12 mt-4">
                        <h5 class="mb-3">Cancellation policy</h5>
                        <p>Flexible, contact us</p>
                    </div>
                    <div class="col-12 mt-4">
                        <h5 class="mb-3">Pricing</h5>
                        <p>Weekly mileage limit: <b>1,500</b></p>
                        <p>Price per extra mile: <b>£ 1</b></p>
                        <p>Cleaning fee: <b>£ 0</b></p>
                        <h5 class="mb-3">Discounts</h5>
                        <p>Early bird: <b>10% off</b> if booked more than 10 weeks in advance</p>
                        <p>Price per extra mile: <b>£ 1</b></p>
                    </div>
                </div>
            </div>

        </div>
        <!-- Sidebar 2 Mobile-->
        <div class="col-12 px-5 vans-sidebar2-mobile">
            <div class="col-12 pt-5">
                <h5 class="white center">Book your adventure</h5>
                <div class="mt-4 mb-4 center">
                    <button class="pink-button" type="button">BOOK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Slideshow js
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("vanSlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>



{% endblock %}