{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid vans-background">
    <div class="row">
        <div class="col-12 col-md-9 vans-block-main cover-background">
        </div>
        <div class="col-12 col-md-3 vans-block-sidebar">
            <div class="row dark-overlay2">
                <div class="col-12 van-description-block">
                    <h1>VAN: {{ van.van_name }}</h1>
                    <span>is this...{{van.van_description}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Start of body content-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-9 pleft-6">
            <div class="row mt-5">
                <div class="col-12">
                    <h1>{{ van.van_name }}</h1>
                </div>
                <div class="col-12 col-md-3 sg-icon-blocks">
                    <i class="fas fa-bed sg-icons"></i>
                    <p class="sg-icon-text">{{van.size_description}} </p>
                </div>
                <div class="col-12 col-md-3 sg-icon-blocks">
                    <i class="fas fa-bed sg-icons"></i>
                    <p class="sg-icon-text">{{van.fuel_type}} </p>
                </div>
                <div class="col-12 col-md-3 sg-icon-blocks">
                    <i class="fas fa-bed sg-icons"></i>
                    <p class="sg-icon-text">Sleeps: <b>{{van.sleeps}}</b></p>
                </div>
                <div class="col-12 col-md-3 sg-icon-blocks">
                    <i class="fas fa-bed sg-icons"></i>
                    <p class="sg-icon-text">Seats: <b>{{van.seats}}</b></p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <h2>Van features</h2>
                </div>
                <div class="col-12 col-md-6">
                    {% if van.airconditioning_home_area %}
                    <p><i class="far fa-check-circle pink"></i> Air Conditioning Home Area</p>
                    {% endif %}
                    {% if van.refrigerator %}
                    <p><i class="far fa-check-circle pink"></i> Refrigerator</p>
                    {% endif %}
                    {% if van.camping_table_chairs %}
                    <p><i class="far fa-check-circle pink"></i> Camping table and chairs</p>
                    {% endif %}
                    {% if van.gas_cylinder %}
                    <p><i class="far fa-check-circle pink"></i> Gas Cylinder</p>
                    {% endif %}
                </div>
                <div class="col-12 col-md-6">
                    {% if van.awning %}
                    <p><i class="far fa-check-circle pink"></i> Awning</p>
                    {% endif %}
                    {% if van.solar_panel %}
                    <p><i class="far fa-check-circle pink"></i> Solar Panel</p>
                    {% endif %}
                    {% if van.toilet %}
                    <p><i class="far fa-check-circle pink"></i> Toilet</p>
                    {% endif %}
                    {% if van.heating %}
                    <p><i class="far fa-check-circle pink"></i> Heating</p>
                    {% endif %}
                    {% if van.hot_water %}
                    <p><i class="far fa-check-circle pink"></i> Hot water</p>
                    {% endif %}
                    <p><i class="far fa-check-circle pink"></i> Hot water</p>
                    <p><i class="far fa-check-circle pink"></i> Hot water</p>
                </div>
                
                <div class="col-12 mt-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                </div>
                <div class="col-12 mt-4">
                    <h2>Image gallery</h2>
                </div>
                <div class="col-12 pright-6">
                    <div class="slideshow-container mt-2">
                        <div class="vanSlides">
                            <div class="numbertext">1 / 3</div>
                            <img src="/media/campervan-hire-starsky-1.png" style="width:100%">
                        </div>

                        <div class="vanSlides">
                            <div class="numbertext">2 / 3</div>
                            <img src="/media/campervan-hire-starsky.jpg" style="width:100%">
                        </div>

                        <div class="vanSlides">
                            <div class="numbertext">3 / 3</div>
                            <img src="/media/campervan-hire-starsky-1.png" style="width:100%">
                        </div>

                        <a class="prev" onclick="plusSlides(-1)"><i class="fas fa-chevron-left"></i></a>
                        <a class="next" onclick="plusSlides(1)"><i class="fas fa-chevron-right"></i></a>

                    </div>
                    <div class="slide-progress mt-3">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>
                </div>


            </div>
        </div>
        <!-- Sidebar 2-->
        <div class="col-12 col-md-3 vans-sidebar2 d-none-sm">
            <div class="row dark-overlay">
                <div class="col-12 pright-6 pt-5">
                    <h5>Pick your dates</h5>
                    <div class="form-group row mb-3 mt-4">
                        <div class="col-12 booking-form-input-col">
                            <input type="text" class="form-control vans-dates-form-input" id="formGroupExampleInput"
                                placeholder="Example input" name="daterange" value="01/01/2018 - 01/15/2018" />
                        </div>
                    </div>
                    <div class="mt-4 mb-3 center">
                        <button class="pink-button" type="button">RESERVE</button>
                    </div>
                    <div class="col-12 mt-3">
                        <ul>
                            <li class="sg-tick-bullets">
                                Sidebar 2 sit amet
                            </li>
                            <li class="sg-tick-bullets">
                                Sidebar 2 sit amet
                            </li>
                            <li class="sg-tick-bullets">
                                Sidebar 2 sit amet
                            </li>
                        </ul>
                    </div>
                    <p>Sidebar 2 sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Start of body content-->
<div class="container-fluid sg-container-allpages">

</div>

<script>
    // Slideshow js
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("vanSlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }

    // Date picker js

    //Date range picker - from http://www.daterangepicker.com/#ex5
    // To be used for model: https://docs.djangoproject.com/en/4.0/ref/forms/widgets/#selectdatewidget (not yet implemented)

    $(function () {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end
                .format('YYYY-MM-DD'));
        });
    });
</script>
{% endblock %}