{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid vans-background">
    <div class="row">
        <div class="col-9 vans-block-main">
        </div>
        <div class="col-3 vans-block-sidebar">
            <div class="row dark-overlay">
                <div class="col-12 van-description-block">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Start of body content-->
<div class="container-fluid sg-container-allpages">
    <div class="row">
        <div class="col-12 col-md-9">
            <div class="row sg-row-allpages">
                <div class="col-12">
                    <h1>Starsky</h1>
                </div>
                <div class="col-3 sg-icon-blocks">
                    <i class="fas fa-bed sg-icons"></i>
                    <p class="sg-icon-text">Lorem ipsum dolor sit amet, consectetur </p>
                </div>
                <div class="col-3 sg-icon-blocks">
                    <i class="fas fa-bed sg-icons"></i>
                    <p class="sg-icon-text">Lorem ipsum dolor sit amet, consectetur </p>
                </div>
                <div class="col-3 sg-icon-blocks">
                    <i class="fas fa-bed sg-icons"></i>
                    <p class="sg-icon-text">Lorem ipsum dolor sit amet, consectetur </p>
                </div>
                <div class="col-3 sg-icon-blocks">
                    <i class="fas fa-bed sg-icons"></i>
                    <p class="sg-icon-text">Lorem ipsum dolor sit amet, consectetur </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            sidebar
        </div>
    </div>
</div>
<!--Start of body content-->
<div class="container-fluid sg-container-allpages">
    <div class="row sg-row-allpages">
        <div class="col-12">
            <h2>Van features</h2>
        </div>
        <div class="col-12 col-md-6">
            <p>Feature <b>Lorem Ipsum</b></p>
            <p>Feature <b>Lorem Ipsum</b></p>
            <p>Feature <b>Lorem Ipsum</b></p>
        </div>
        <div class="col-12 col-md-6">
            <p>Feature <b>Lorem Ipsum</b></p>
            <p>Feature <b>Lorem Ipsum</b></p>
            <p>Feature <b>Lorem Ipsum</b></p>
        </div>
        <div class="col-12 mt-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>
        <div class="col-12">
            <div class="w3-content w3-display-container">
                <img class="mySlides1" src="/media/campervan-hire-starsky-1.png" style="width:100%">
                <img class="mySlides1" src="/media/campervan-hire-starsky-1.png" style="width:100%">
                <img class="mySlides1" src="/media/campervan-hire-starsky-1.png" style="width:100%">
                <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 0)">&#10094;</button>
                <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 0)">&#10095;</button>
              </div>
        </div>
    </div>
</div>

<script>
    var slideIndex = [1,1];
    var slideId = ["mySlides1"]
    showDivs(1);

    
    function plusDivs(n, no) {
      showDivs(slideIndex[no] += n, no);
    }
    
    function showDivs(n, no) {
      var i;
      var x = document.getElementsByClassName(slideId[no]);
      if (n > x.length) {slideIndex[no] = 1}
      if (n < 1) {slideIndex[no] = x.length}
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      x[slideIndex[no]-1].style.display = "block";  
    }
    </script>
{% endblock %}